* text=auto eol=lf
*.go text eol=lf

*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary

go.sum linguist-generated
