# Go
bin/
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Editor/IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Git / build context noise
.git/

# Node (caso exista em apps detectadas)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

